<div class="bg-primary p-xl-5 p-lg-4 p-md-2 p-2">
  <h2 class="text-center text-white mb-xl-5 mb-lg-4 mb-md-3">Featured Characters!</h2>
  <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-2 g-xl-4 g-lg-3 g-md-2 g-2">
    @if (!featuredCharacters) {
      @for (num of [1,2,3,4]; track num) {
        <div class="col">
          <app-character-card-loading/>
        </div>
      }    } @else {
      @for (character of featuredCharacters; track character._id) {
        <div class="col">
          <app-character-card [character]="character"/>
        </div>
      }
    }
  </div>
</div>
