<nav class="navbar bg-body">
  <div class="container">
    <div class="row" style="width: 100%">
      <div class="col-1">
        <a class="navbar-brand" routerLink="/">Disney</a>
      </div>
      <div class="col-10">
        <form class="d-flex mx-auto" role="search">
          <input (input)="search()" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" type="search" placeholder="Find a character..." aria-label="Search">
        </form>
      </div>
      <div class="col-1">
        <button routerLink="view-profile" class="btn btn-primary float-end">User</button>
      </div>
    </div>
  </div>
</nav>
<main class="container my-4">
  <router-outlet />
  <app-featured-characters/>
</main>
<app-footer/>
